
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
height: 100%;
margin: 0;
}

.unbound-bg {
min-height: 100vh;
background-color: #000;
background-image: url("/rope-bg.jpg");
background-repeat: repeat;
background-position: center;
background-size: 700px auto;
color: #fff;
}